.cont
  button(id="button") Click me
  
.modal
  .content
    .close
    h1  Hello, World!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem praesentium quod veniam voluptatum, tempora a quis sequi ipsam explicabo natus delectus blanditiis assumenda doloremque facere tenetur rerum molestias? Necessitatibus, aperiam.
    p Sequi porro laudantium eaque modi illum iure aperiam esse voluptatem corporis deleniti. Nulla placeat iusto, quia veritatis quisquam quas dicta aut magnam est velit porro voluptate error illo dolorem sint?